<launch>
	
  <!-- Start the EKF node -->
  <node pkg="robot_localization"
        type="ekf_localization_node"
        name="ekf_filter_node"
        output="screen">
    <param name="config" value="$(find turtlebot3_datasets)/config/ekf.yaml" />
  </node>
  
  <!-- Arguments -->
  <arg name="map_file" default="$(find turtlebot3_datasets)/data/map.yaml" />
  
    <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Launch RVIZ for visualization -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot3_datasets)/data/OO.rviz"/>
</launch>
